<%- include('layouts/header') %>
<%- include('layouts/nav') %>

       
<!-- akhir navbar -->
<h1>Hello From home</h1>

<h2>Hello Nama saya <%= nama %></h2>

<% if (mahasiswa.length < 1) { %>
    <h4>Data Kosong</h4>
<%  } else { %>
    <h4>Daftar Mahasiswa</h4>
    <ul>
    <% mahasiswa.forEach(mhs => { %>
        <li><%= mhs.nama %></li>    
        <li><%= mhs.email %></li>
        <br>
    <% }) %>
    </ul>
<% } %>

        
<%- include('layouts/footer') %>